name: TrMenu Dev

on:
  push:
  pull_request:

jobs:
  releaseJar:
    runs-on: ubuntu-latest
    if: "github.actor != 'dependabot[bot]'"
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 8
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
      - name: Make Gradle Wrapper Executable
        run: chmod +x ./gradlew
      - name: Build
        run: ./gradlew build
      - name: Capture Build Artifacts
        uses: actions/upload-artifact@v4.4.3
        with:
          name: TrMenu Artifact
          path: build/libs/*.jar
      - name: Automatic Releases
        if: "github.event_name != 'pull_request'"
        uses: marvinpinto/action-automatic-releases@master
        with:
          title: "TrMenu"
          automatic_release_tag: "trmenu"
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          files: "build/libs/*.jar"
          prerelease: true